<!DOCTYPE html>
<html ng-app="beersModule" ng-controller="mainController">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <script src="js/beerApp.js" type="text/javascript"></script>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Bungee+Outline" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link ng-href="https://maps.googleapis.com/maps/api/place/details/json?reference=CmRYAAAAciqGsTRX1mXRvuXSH2ErwW-jCINE1aLiwP64MCWDN5vkXvXoQGPKldMfmdGyqWSpm7BEYCgDm-iv7Kc2PF7QA7brMAwBbAcqMr5i1f4PwTpaovIZjysCEZTry8Ez30wpEhCNCXpynextCld2EBsDkRKsGhSLayuRyFsex6JA6NPh9dyupoTH3g&key=YOUR_API_KEY">
    </head>
    <body>
        <div class="main">
            <div class="header">
                <div class="header_resize">
                    <div class="logo">
                        <h1><a href="#">BeerBazaar</a><a class="unique">Rothschild</a></h1>
                    </div>
                    <div class="clr"></div>
                    <div class="menu">
                        <ul class="menuBar">
                            <li><a href="#!/home" class="active" ng-click="setActive($event);"><span>Home</span></a></li>
                            <li><a href="#!/about" ng-click="setActive($event);"><span>About Us</span></a></li>
                            <li><a href="#!/location" ng-click="setActive($event);"><span>Locations</span></a></li>
                        </ul>
                    </div>
                    <div class="menu2">
                        <ul class="menuBar">
                            <li><a href="#!/contact" ng-click="setActive($event);"><span>Contact Us</span></a></li>
                            <li><a href="#!/shop" ng-click="setActive($event);"><span>Beershop</span></a></li> 
                        </ul>
                    </div> 
                    <div class="clr"></div>
                    <div class="logoimg">
                        <h2>Israeli craft beers delivered to your door<br />
                            28 NIS anywhere in Tel-Aviv & Jerusalem.<br />
                            <span>bazaar-brewery.com</span></h2>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="body_resize"> 
                    <ng-view></ng-view>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="footer">
                <div class="footer_resize">
                    <p>&nbsp;&nbsp;</p>
                    <p>&nbsp;&nbsp;</p>
                    <div class="bg"></div>
                    <p class="lf">Copyright &copy; 2017 <a href="#">BeerBaza'ar</a> - All Rights Reserved</p>
                    <p class="rf">Design by <a href="#">Company abc</a></p>
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </body>
</html>
